
.ajust {
    padding-left: 0px;
    color: white;
}

.dash-content {
    width: 100vw;
}

button {
    margin: 5px;
}

.dash-chart {
    max-height: 300px;
    width: 100%;
}

.table {
    border-radius: .25rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.aj-button {
    width: 40px;
}

.ajust-welcome {
    color: #052851;
    
}

.welcome-description {
    color: #0D3D78
}

/* .jumbotron {
    background-color: #b5c1ca;
} */

.thead-custom {
   background-color: #052851;
   color: white;  
   
   border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
}

/* .thead-custom tr {
    border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
} */

/* tbody tr th, tbody  td  {
    color: #0D3D78
} */

