
.ajust {
    padding-left: 0px;
    color: white;
}

.dash-content {
    width: 100vw;
}

button {
    margin: 5px;
}

.table {
    border-radius: .3rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.aj-button {
    width: 40px;
}