/* .main-content {
    width: 90vw;
    max-width: 700px;
} */
 
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 60px auto;
  
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .input-ajust {
      margin-bottom: 0px !important;
      border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  /* .input-align {
      border-top: transparent !important;
  } */

  /* .input-align-top {

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  } */

  .ajust-button {
      margin: 0px;
  }


  .btn-ajust {
    background-color: #0D3D78;
    border-color: #0D3D78;
}

.btn-ajust:hover {
    background-color: #0D3D78;
    border-color: #0D3D78;
}

.ajust-link {
    color: #052851;
    
}

.ajust-link:hover {
    color: #052851;
    
}